@font-face {
  font-family: "iconfont"; /* Project id 4327726 */
  src: url('iconfont.woff2?t=1700326042136') format('woff2'),
       url('iconfont.woff?t=1700326042136') format('woff'),
       url('iconfont.ttf?t=1700326042136') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiala:before {
  content: "\e6b9";
}

.icon-zhedie2:before {
  content: "\e620";
}

.icon-zhedie1:before {
  content: "\e621";
}

.icon-shouye:before {
  content: "\e62e";
}

.icon-jiazai_shuaxin:before {
  content: "\eaf4";
}

.icon-quanping:before {
  content: "\eb11";
}

.icon-quanjushezhi_o:before {
  content: "\eb80";
}

.icon-yonghuming:before {
  content: "\e607";
}

.icon-mima:before {
  content: "\e608";
}

.icon-pingmu:before {
  content: "\e90b";
}

.icon-biji:before {
  content: "\e90a";
}

.icon-duanxiu:before {
  content: "\e90c";
}

.icon-shangdian:before {
  content: "\e90e";
}

.icon-shaixuan:before {
  content: "\e90d";
}

.icon-yuechi:before {
  content: "\e90f";
}

.icon-qianbao:before {
  content: "\e910";
}

.icon-zixun:before {
  content: "\e911";
}

.icon-yonghu:before {
  content: "\e912";
}

.icon-xiangmu:before {
  content: "\e913";
}

