@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1699109122745') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e62e";
}

.icon-yonghuming:before {
  content: "\e607";
}

.icon-mima:before {
  content: "\e608";
}

.icon-pingmu:before {
  content: "\e90b";
}

.icon-biji:before {
  content: "\e90a";
}

.icon-duanxiu:before {
  content: "\e90c";
}

.icon-shangdian:before {
  content: "\e90e";
}

.icon-shaixuan:before {
  content: "\e90d";
}

.icon-yuechi:before {
  content: "\e90f";
}

.icon-qianbao:before {
  content: "\e910";
}

.icon-zixun:before {
  content: "\e911";
}

.icon-yonghu:before {
  content: "\e912";
}

.icon-xiangmu:before {
  content: "\e913";
}

